<h1>Animal</h1>

<div class="animal-details">
  <p><%= @animal.photo %></p>
  <p>Name: <%= @animal.name %></p>
  <p>Age: <%= @animal.age %></p>
  <p>Species: <%= @animal.species %></p>
  <p>Admission Date: <%= @animal.admission_date %></p>
  <p>Status: <%= @animal.is_adoptable %></p>
  <p>Adopter: <%= @animal.adopter_id %></p>
  <p>Adoption Date: <%= @animal.adoption_date %></p>

</div>
