<h1>Animal</h1>

<div class="animal-details">
  <p><%= @animal.photo %></p>
  <p>Name: <%= @animal.name %></p>
  <p>Age: <%= @animal.age %></p>
  <p>Species: <%= @animal.species %></p>
  <p>Admission Date: <%= @animal.admission_date %></p>
  <p>Status: <%= @animal.is_adoptable %></p>
  <p>Adopter: <%= @animal.adopter_id %></p>
  <p>Adoption Date: <%= @animal.adoption_date %></p>
</div>


<div class="buttons">
  <form action="/animals/<%= @animal.id %>/edit" method="GET">
    <input type="submit" id="Update animal details" value="Update Details">
  </form>

  <form action="/animals/<%= @animal.id %>/delete" method="POST">
    <input type="submit" id="delete" value="Remove Animal" />
  </form>

</div>
