<h1><%= @animal.name %></h1>

<form>

  <div class="details">
    <p><%= @animal.photo %></p>
    <p>Age: <%= @animal.age %></p>
    <p>Species: <%= @animal.species %></p>
    <p>Admission Date: <%= @animal.admission_date %></p>
    <p>Status: <%= @animal.is_adoptable %></p>
    <p>Adopter: <%= @animal.find_adopter.name %></p>
    <p>Adoption Date: <%= @animal.adoption_date %></p>
  </div>

  <br>

</form>

<br>


<div class="buttons">

  <a href="/animals/<%= @animal.id %>/edit">
    <input type="submit" id="Update-animal-details" value="Update Details" /></a>

  <form class="delete" action="/animals/<%= @animal.id %>/delete" method="POST">
    <input type="submit" id="delete" value="Remove Animal" />
  </form>

  <a href="/animals">
    <input type="submit" id="back_to_all_animals" value="Back To All Animals" /></a>


</div>
