<h1>Adopter</h1>

<div class="adopter-details">
  <p>First name: <%= @adopter.first_name %></p>
  <p>Surname: <%= @adopter.last_name %></p>
  <p>Address: <%= @adopter.address %></p>
  <p>Postcode: <%= @adopter.postcode %></p>
  <p>Tel number: <%= @adopter.tel_num %></p>
  <p>Ready to adopt?: <%= @adopter.ready_to_adopt %></p>
</div>
