<h1><%= @adopter.first_name %> <%= @adopter.last_name %></h1>

<form>

  <div class="details">
    <p>Address:</p>
    <p class="purple"><%= @adopter.address %></p>

    <br>

    <p>Postcode:</p>
    <p class="purple"><%= @adopter.postcode %></p>

    <br>

    <p>Tel number:</p>
    <p class="purple"><%= @adopter.tel_num %></p>

    <br>

    <p>Ready to adopt?:</p>
    <p class="purple"><%= @adopter.ready_to_adopt %></p>

    <br>

    <p>
      Animals adopted:

      <ul>

        <% @animals.each do |animal| %>

          <li><a href="/animals/<%= animal.id %>"><%= animal.name %></a></li>

        <% end %>

      </ul>

    </p>







  </div>

</form>

<br>

<div>

  <a href="/adopters/<%= @adopter.id %>/edit" class="buttons">
    <input type="submit" id="update_adopter_details" value="Update Details" />
  </a>

  <form class="delete" action="/adopters/<%= @adopter.id %>/delete" method="POST">
    <input type="submit" id="delete" value="Remove Adopter" />
  </form>

  <a href="/adopters">
    <input type="submit" id="back_to_all_adopters" value="Back To All Adopters" /></a>

</div>
