<h1><%= @adopter.first_name %> <%= @adopter.last_name %></h1>

<form>

  <div class="details">
    <p>Address: <%= @adopter.address %></p>
    <p>Postcode: <%= @adopter.postcode %></p>
    <p>Tel number: <%= @adopter.tel_num %></p>
    <p>Ready to adopt?: <%= @adopter.ready_to_adopt %></p>
  </div>


</form>

<br>

<div class="button">

  <a href="/adopters/<%= @adopter.id %>/edit" class="button">
    <input type="submit" id="update_adopter_details" value="Update Details" />
  </a>

  <form class="delete" action="/adopters/<%= @adopter.id %>/delete" method="POST">
    <input type="submit" id="delete" value="Remove Adopter" />
  </form>

  <a href="/adopters">
    <input type="submit" id="back_to_all_adopters" value="Back To All Adopters" /></a>

</div>
